/* Mobile and Tablet */
@media (max-width: 63.9375em){
    #footer .footer-icon i {
        font-size: 40px;
    }
    #footer .footer-icon a{
        margin: 0 16px;
    }
}
/* Mobile */
@media (max-width: 46.1875em){
    .col-full-mb{
        width: 100% ;
    }
    #header{
        overflow: hidden;
    }
    #nav{
        display: block;
    }
    #nav > li{
        display: block;
    }
    #nav .subnav{
        position: initial;
        background-color: #333;
    }
    #nav .subnav a{
        color: #fff;
        padding: 5px 41px;
    }
    #header .search-icon{
        display: none;
    }
    #header .menu-icon{
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
    }
    #nav > li:first-child{
        display: inline-block;
    }
    #nav .subnav a:hover{
        color: #333;
    }
    .content-mid .place-img .place-mobile-adj{
        width: 100%;
        margin-top: 32px;
    }
    .content-mid .place-img button{
        margin: 16px 0;
    }
    #contact .contact-content .contact-form{
        padding: 0;
        margin: 16px 0;
    }
    .contact-form .contact-btn{
        margin-right: 0;
    }
    .contact-form .mobile-submit-btn{
        padding: 0 8px;
    }
}